 <h2>検索結果</h2>
  <ul>
    <% @results.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0"), if post.image.attached? %>
        <% end %>
      </li>
    <% end %>
  </ul>