<table class="admin_customer_index has_border">
  <thead>
  	<th>会員ID</th>
    <th>ユーザー名</th>
	<th>会員ステータス</th>
  </thead>
  
  <tbody>
	<% users.each do |user| %>
	<tr>
	  <td><%= user.id %></td>
	  <td><%= user.name %></td>
	  <td>
	  	<% if user.is_active? %>
	  	  <span class="text-active">有効</span>
	  	<% else %>
	  	  <span class="text-invalid">退会済み</span>
	  	<% end %>
	  </td>
	  <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-primary" %></td>
	</tr>
	<% end %>
  </tbody>
</table>